In [42]:

from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd

In [43]:
# path of the chromedriver we have just downloaded
PATH = "chromedriver.exe"
driver = webdriver.Chrome(PATH)  # to open the browser
  
# url of google news website
url = 'https://www.adamchoi.co.uk/overs/detailed'
  
# to open the url in the browser
driver.get(url)

## Clicking on button using selenium

In [44]:
link1 = driver.find_element_by_xpath('//label[@analytics-event="All matches"]')

In [45]:
link1.click()

## Select country from dropdown

In [46]:
dropdown=Select(driver.find_element_by_id("country"))
dropdown.select_by_visible_text("Spain")

## extract information from table

In [47]:
link = driver.find_elements_by_tag_name("tr")
date=[]
home_team=[]
score=[]
away_team=[]
for l in link:
    date.append(l.find_element_by_xpath("./td[1]").text)
    home_team.append(l.find_element_by_xpath("./td[2]").text)
    score.append(l.find_element_by_xpath("./td[3]").text)
    away_team.append(l.find_element_by_xpath("./td[4]").text)

In [ ]:
driver.quit

In [48]:
print(home_team)

['Alaves', 'Alaves', 'Valencia', 'Alaves', 'Espanol', 'Alaves', 'Ath Bilbao', 'Alaves', 'Cadiz', 'Alaves', 'Barcelona', 'Alaves', 'Sevilla', 'Elche', 'Ath Bilbao', 'Celta', 'Ath Bilbao', 'Ath Madrid', 'Ath Bilbao', 'Valencia', 'Ath Bilbao', 'Ath Bilbao', 'Espanol', 'Sociedad', 'Ath Bilbao', 'Levante', 'Celta', 'Ath Madrid', 'Ath Madrid', 'Espanol', 'Ath Madrid', 'Getafe', 'Alaves', 'Ath Madrid', 'Ath Madrid', 'Levante', 'Ath Madrid', 'Valencia', 'Ath Madrid', 'Barcelona', 'Ath Bilbao', 'Barcelona', 'Barcelona', 'Cadiz', 'Barcelona', 'Ath Madrid', 'Barcelona', 'Barcelona', 'Vallecano', 'Barcelona', 'Celta', 'Barcelona', 'Mallorca', 'Betis', 'Betis', 'Granada', 'Betis', 'Osasuna', 'Betis', 'Villarreal', 'Alaves', 'Betis', 'Betis', 'Ath Madrid', 'Betis', 'Elche', 'Cadiz', 'Betis', 'Cadiz', 'Cadiz', 'Celta', 'Cadiz', 'Vallecano', 'Cadiz', 'Espanol', 'Cadiz', 'Villarreal', 'Cadiz', 'Ath Bilbao', 'Getafe', 'Celta', 'Osasuna', 'Celta', 'Real Madrid', 'Celta', 'Levante', 'Celta', 'Elche', 'Celta', 'Getafe', 'Celta', 'Vallecano', 'Celta', 'Celta', 'Elche', 'Ath Madrid', 'Elche', 'Getafe', 'Elche', 'Villarreal', 'Sociedad', 'Elche', 'Vallecano', 'Elche', 'Alaves', 'Elche', 'Mallorca', 'Elche', 'Osasuna', 'Espanol', 'Mallorca', 'Espanol', 'Betis', 'Espanol', 'Sevilla', 'Espanol', 'Espanol', 'Elche', 'Espanol', 'Getafe', 'Espanol', 'Barcelona', 'Valencia', 'Getafe', 'Barcelona', 'Getafe', 'Vallecano', 'Getafe', 'Betis', 'Getafe', 'Levante', 'Getafe', 'Granada', 'Getafe', 'Villarreal', 'Getafe', 'Villarreal', 'Granada', 'Vallecano', 'Granada', 'Barcelona', 'Granada', 'Celta', 'Granada', 'Osasuna', 'Granada', 'Levante', 'Espanol', 'Granada', 'Cadiz', 'Levante', 'Sociedad', 'Levante', 'Elche', 'Levante', 'Barcelona', 'Mallorca', 'Levante', 'Sevilla', 'Levante', 'Levante', 'Alaves', 'Levante', 'Mallorca', 'Alaves', 'Mallorca', 'Ath Bilbao', 'Mallorca', 'Real Madrid', 'Mallorca', 'Mallorca', 'Sociedad', 'Valencia', 'Mallorca', 'Cadiz', 'Mallorca', 'Vallecano', 'Osasuna', 'Osasuna', 'Cadiz', 'Osasuna', 'Alaves', 'Osasuna', 'Mallorca', 'Osasuna', 'Villarreal', 'Osasuna', 'Real Madrid', 'Sevilla', 'Osasuna', 'Ath Madrid', 'Alaves', 'Levante', 'Betis', 'Real Madrid', 'Valencia', 'Real Madrid', 'Real Madrid', 'Espanol', 'Barcelona', 'Real Madrid', 'Elche', 'Real Madrid', 'Granada', 'Sevilla', 'Getafe', 'Elche', 'Sociedad', 'Sevilla', 'Sevilla', 'Granada', 'Celta', 'Sevilla', 'Mallorca', 'Sevilla', 'Betis', 'Sevilla', 'Barcelona', 'Sociedad', 'Sociedad', 'Cadiz', 'Sociedad', 'Granada', 'Sociedad', 'Getafe', 'Sociedad', 'Ath Madrid', 'Celta', 'Sociedad', 'Osasuna', 'Sociedad', 'Valencia', 'Granada', 'Valencia', 'Osasuna', 'Valencia', 'Sevilla', 'Valencia', 'Cadiz', 'Barcelona', 'Valencia', 'Betis', 'Valencia', 'Valencia', 'Sociedad', 'Sevilla', 'Sociedad', 'Vallecano', 'Levante', 'Vallecano', 'Ath Bilbao', 'Vallecano', 'Osasuna', 'Vallecano', 'Betis', 'Vallecano', 'Vallecano', 'Real Madrid', 'Vallecano', 'Villarreal', 'Espanol', 'Ath Madrid', 'Mallorca', 'Villarreal', 'Real Madrid', 'Villarreal', 'Villarreal', 'Ath Bilbao', 'Villarreal', 'Valencia', 'Villarreal', 'Celta']

## Exporting data to csv file

In [49]:
df=pd.DataFrame({"date":date,"home_team":home_team,"score":score,"away_team":away_team})

In [50]:
df.to_csv("football_data.csv",index=False)

In [51]:
df

           date   home_team  score    away_team
0    14-08-2021      Alaves  1 - 4  Real Madrid
1    21-08-2021      Alaves  0 - 1     Mallorca
2    27-08-2021    Valencia  3 - 0       Alaves
3    18-09-2021      Alaves  0 - 2      Osasuna
4    22-09-2021     Espanol  1 - 0       Alaves
..          ...         ...    ...          ...
267  23-10-2021  Ath Bilbao  2 - 1   Villarreal
268  26-10-2021  Villarreal  3 - 3        Cadiz
269  30-10-2021    Valencia  2 - 0   Villarreal
270  07-11-2021  Villarreal  1 - 0       Getafe
271  20-11-2021       Celta  ? - ?   Villarreal

[272 rows x 4 columns]